.favorite-preview {
    display: flex;
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 10px;

    p {
        padding: 10px;
        font-size: 1.2rem;
    }

    .favorite-card {
        padding: 10px;
    }
    .card-container {
        .delete-btn {
            cursor: pointer;
            align-self: flex-end;
            width: 20px;
            height: 25px;
        }
    }

    @include for-normal-layout {
        img {
            max-width: 300px;
        }
    }
    @include for-narrow-layout {
        img {
            min-width: 135px;
        }
        .title {
            font-size: 20px;
        }
    }
    @include for-mobile-layout {
        margin-left: 0;
        margin-top: 20px;
        p {
            font-size: 22px;
        }
        .weather-card {
            padding: 2px;
            .card-container {
                img {
                    margin: 10px 0;
                }
            }
        }
    }
}
