.weather-preview {
    margin-top: 30px;
    display: flex;
    &:first-child {
        margin-left: 0;
    }

    p {
        margin-top: 10px;
        font-size: 20px;
    }
    .weather-card {
        padding: 5px;
        .card-container {
            img {
                margin: 10px 0;
            }
        }
    }
 
    @include for-mobile-layout {
        p {
            font-size: 18px;
        }
        .weather-card {
            padding: 5px;
            .card-container {
                img {
                    margin: 10px 0;
                }
            }
        }
    }
}
