* {
  box-sizing: border-box;
  font-family: Rubick;
}

html {
  font-family: sans-serif;
  line-height: 1.6;
  height: 100%;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.6em;
  line-height: 1;
}

h1 {
  font-size: rem(68);
}

img {
  width: 100%;
}

button {
  cursor: pointer;
}

.pointer{
  cursor: pointer;
  transition: transform 250ms;
  &:hover {
    transform: scale(1.1);
}
}
.card-hover{
  cursor: pointer;
  transition: transform 260ms;
  &:hover {
    transform: scale(1.02);
}
}

a{
  text-decoration: none;
  color: black;
}