//HELPERS

.text-center {
  text-align: center;
}

.flex {
  display: flex;

  > *.full {
    flex: 1;
  }

  &.column {
    flex-direction: column;
  }

  &.end {
    justify-content: flex-end;
  }

  &.justify-center {
    justify-content: center;
  }

  &.align-center {
    align-items: center;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.space-evenly {
    justify-content: space-evenly;
  }
}

.fill-dark {
  fill: #959699;
}

.dark {
  background-color: #202124;
  color: #e2e2e3;
  &-text {
    color: #e2e2e3;
  }
  .bold {
    font-weight: 600;
    font-size: 25px;
    @include for-mobile-layout {
      font-size: 40px;
    }
}
}


.underline {
  border-bottom: #fff 2px solid;
}
.select {
  user-select: none;
  background: none;
  background-color: none;
  color: none;
  -webkit-tap-highlight-color: transparent;
}

.light {
  background-color: #fff;
  color: #4c5055;
}


