$clr1: #674ea7; 
$clr2: #5bd6fd; 
$clr3: #fdd0a3; 
$clr4: #fff08f; 
$clr5: #e64060; 
$clr6: #4b966b; 
$clr7: #3a3a3a; 
$clr8: #316998; 
$clr9: #ffffff; 




$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 1100px;